@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --cor-primaria: #73c0b0;
  --cor-segundaria: #4b908e;
  --cor-header: #c0d6d4;
  --cor-barra-header: #dcf3f1;
  --cor-conteiner: #7b989a;
  --cor-placeholder: #002538;
  --cor-inputs: #f3fdfc;
  --cor-button: #4f8f97;
  --cor-button-hover: #316064;
  --cor-alerta: #F4DC70;

  --cor-conteiner-cadastro: #fdfbfe;

  
  --font-family: "Poppins", sans-serif;
  --font-cor-primaria: #316064;
  --font-cor-segundaria: #ffffff;
  --font-cor-terciaria: #217676;

  
  --font-size-h1: 32px;
  --font-size-h2: 22px;
  --font-size-h3: 18px;
  --font-size-h4: 16px;
  --font-size-body: 14px;
  --font-size-small: 13px;
  --font-size-xs: 12px;


  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

body {
  font-family: var(--font-family);
  background-image: url(../assets/fundo-site.png);
  background-size: cover;
  position: relative;
  color: var(--font-cor-primaria);
  height: 100%;
  width: 100%;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-semibold);
}

p {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
}

span {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

a {
  color: var(--font-cor-primaria);
}